.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  margin-bottom: 30px;
  background-color: red;
}

.col-md-4 {
  margin-bottom: 30px;
}



.lists-content {
  display: inline-block;
  padding: 30px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  
}
.lists-content:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.user-lists {
  margin-top: 20px;
}
.user-lists {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.user-lists {
  font-size: 26px;
}




p {
  font-size: large;
  font-style: oblique,bold;
  font-weight: 700;
  color: black;
}

